<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
<title>Ocuru Notify</title>

<style type="text/css">

        body{width: 100%; background-color: #ccc; margin:0; padding:0; -webkit-font-smoothing: antialiased;mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt: 0px 0px 0px 0px;}
        
        p,h1,h2,h3,h4{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;}
        
        span.preheader{display: none; font-size: 1px;}
        
        html{width: 100%;}
        
        table{font-size: 12px;border: 0;}
        
        .menu-space{padding-right:25px;}
        
        a,a:hover { text-decoration:none; color:#FFF;}





</style>

</head>

<body yahoo="fix" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!--Main Table Start-->

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
  <tr>
    <td align="center" valign="top"><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
  <tr>
    <td height="100" align="center" valign="top" style="font-size:100px; line-height:100px;">&nbsp;</td>
  </tr>
  <tr>
    <td height="330" align="center" valign="top" style="background:#f72a6f; -moz-border-radius: 4px 4px 0px 0px; border-radius: 4px 4px 0px 0px;"><table width="90%" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left">
      <tr>
        <td height="40" align="left" valign="top" style="font-size:40px; line-height:40px;">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top">
        
        <table border="0" align="right" cellpadding="0" cellspacing="0" class="full">
  <tr>
    <td height="8" align="center" valign="top" style="font-size:8px; line-height:8px;">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#FFF; font-weight:bold;">Hello!</td>
  </tr>
            </table>
        
        </td>
      </tr>
      <tr>
        <td height="50" align="left" valign="top" style="font-size:50px; line-height:50px;">&nbsp;</td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left">
            
            <tr>
                <td align="center" valign="top"><table width="64" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center" valign="top"><img  src="images/note21-icon.png" width="64" height="64" alt="" /></td>
                  </tr>
                  <tr>
                    <td align="center" valign="top">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>

            {% if consultation == true %}
                    <tr>
                        <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#FFF; font-weight:normal; line-height:32px;">Someone requested a</td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="font-family:'Open Sans', sans-serif, Verdana; font-size:44px; color:#FFF; font-weight:bold; text-transform:uppercase;">consultation</td>
                    </tr>
                    <tr>
                        <td height="10" align="center" valign="top" style="font-size:10px; line-height:10px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="font-family:'Open Sans', sans-serif, Verdana; font-size:15px; color:#FFF; font-weight:normal; line-height:24px; padding:0px 25px;">{{request_email}}</td>
                    </tr>
            {% else %}
                    <tr>
                        <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#FFF; font-weight:normal; line-height:32px;">You received a</td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="font-family:'Open Sans', sans-serif, Verdana; font-size:44px; color:#FFF; font-weight:bold; text-transform:uppercase;">General Query</td>
                    </tr>
                    <tr>
                        <td height="10" align="center" valign="top" style="font-size:10px; line-height:10px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="center" valign="top" style="font-family:'Open Sans', sans-serif, Verdana; font-size:15px; color:#FFF; font-weight:normal; line-height:24px; padding:0px 25px;">You have recieved a general query from <b>{{name}} ({{request_email}})</b> <br><br> {{message}}</td>
                    </tr>
            {% endif %}
              <tr>
                <td height="40" align="center" valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="top"><table width="220" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="50" align="center" valign="middle" bgcolor="#52001c" style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#FFF; font-weight:bold; -moz-border-radius: 50px; border-radius: 50px;"><a href="#" style="text-decoration:none; color:#FFF;">14 Days to Reply</a></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td height="80" align="center" valign="top">&nbsp;</td>
              </tr>
            </table></td>
      </tr>
      </table></td>
  </tr>
  <tr>
    <td align="center" valign="top" style="background:#FFF;"><table width="380" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left">
          <tr>
            <td height="45" align="center" valign="top" style="font-size:45px; line-height:45px;">&nbsp;</td>
          </tr>
           <tr>
            <td height="15" align="center" valign="top" style="font-size:15px; line-height:15px;">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; font-weight:bold; line-height:28px;">Copyright &copy; 2019 Ocuru Ltd </td>
          </tr>
          <tr>
            <td align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; font-weight:bold; line-height:28px;"></td>
          </tr>
          <tr>
          <td height="30" align="center" valign="top" style="font-size:30px; line-height:30px;">&nbsp;</td>
          </tr>
          </table></td>
  </tr>
  <tr>
    <td height="100" align="center" valign="top" style="font-size:100px; line-height:100px;">&nbsp;</td>
  </tr>
    </table>
</td>
  </tr>
</table>

<!--Main Table End-->

</body>
</html>
